* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body {
	font-family: monserrat;
}
nav{
  background: #043877;
  height:70px;
  width: 100%;
  position: fixed;
     top: 0;
   z-index: 9999;

}
label.logo {
	color: #E8C01F;
	font-size: 28px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
	position: relative;
	top: -70px;
	left: -30px;
}
h3 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-size: 1.575rem;
	font-weight: 500;
	line-height: 1.2;
}

nav ul {
	float: right;
	margin-right: 20px;
}

nav ul li {
	color: #E8C01F;
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

nav ul li a {
	color: #E8C01F;
	font-size: 17px;
	text-transform: uppercase;
	position: relative;
	top: -70px;
}

nav ul li a:hover {
	background: #505962;
}

.wrapper .sidebar {
	position: fixed;
	width: 250px;
	height: 100%;
	background: #343A40;
	padding: 30px 0;
	     top: 70;
}

.wrapper .sidebar h2 {
	color: #E8C01F;
	text-transform: uppercase;
	text-align: left;
	margin-bottom: 5px;
}

.wrapper .sidebar ul li {
	padding: 3px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.wrapper .sidebar ul li a {
	color: #BEC3CC;
	display: block;
}

.wrapper .sidebar ul li:hover {
	background: #505962;
}

.logout-box {
	background-color: transparent;
	border: 1px solid black;
	padding: 5px;
}

ul.log-out {
	height: 30px;
}

/* Added styles for Log Out menu */
.logout-link {
	position: relative;
}

.logout-link:hover .dropdown-menu {
	display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  padding: 0;
  margin: 0;
}


.log-out {
	list-style: none;
	padding: -5px;
	margin: 5px 0 0;
}

.logout-button {
	background-color: #E8C01F;
	color: #043877;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	display: none;
	margin: 0 auto;
}

.logout-button:hover {
	background-color: #c82333;
	color: #fff;
}

.logout-box {
	background-color: none;
	border: 1px solid black;
	padding: 0px;
}

.logout-link:hover .logout-button {
	display: block;
}

.logout-name {
	font-weight: bold;
}

.role-type {
	font-style: italic;
}

.table {
	margin-left: -100px;
}



        .details {
            margin-left: 20px;
            flex: 1;
        }

        .details p {
            font-weight: normal;
            margin-bottom: 5px;
        }

        .details span {
            margin-bottom: 10px;
        }


        .profile-container {
            display: flex;
            align-items: center;
        }

        .profile-container img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
        .wrapper2 {
            display: block;
            margin: 20px;
            margin-top: 40px  !important;
            max-width: 1170px;
            padding: 20px;
            background-color: #f0f0f0;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            margin-left: 300px; /* add this line */
        }
        .details span.not-bold {
            font-weight: bold;
        }




  table {
    width: 77%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-left: 300px;
  }
  th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }
  th {
    background-color: #f2f2f2;
  }
  tr:hover {
    background-color: #f5f5f5;
  }
  .no-attendance {
    font-style: italic;
    color: #999;
  }
  .attendance-not-found {
  font-size: 30px;
  margin-left: 300px;
}

  #download-button {
  	 margin-left: 1355px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
  }

    .dropdown {
  position: relative;
}

.dropdown-toggle {
  display: block;
  padding: 10px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #343A40;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  padding: 5px 0;
  text-decoration: none;
  color: #333;
}

.dropdown-content a:hover {
  background-color: #343A40;
}

        .report_type {
            display: block;
            font-size: 25px;
            max-width: 800px;
            padding: 1px;
            margin-left: 300px; /* add this line */
            margin-top: 90px; /* add this line */
        }